@mixin fuentes($size, $weight){
	font-size: $size;
	font-weight: $weight;
	color: black;
}
.navbar{
	align-items: center;
}
#header{
	background-color: #34E4DF;
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 100;
	border-bottom: 1px solid black;
}
#header .botonera{


}
#header .botonera ul{

}
#header .botonera ul li{
	display: inline-block;

}
#header .botonera ul li a{

}
#header .logo{

}
#header .logo img{

}
#contenido{

}
#contenedor h2{

}
#contenedor h3{

}
#contenedor .productos{

}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 400;
}
.subtitulo{
	margin: auto;
	text-align: center;
}
#grilla{
	min-height: 20px;

}
.type-light{
	@include fuentes(1rem, $fuente-light);
}
.type-regular{
	@include fuentes(1rem, $fuente-regular);
}
.type-bold{
	@include fuentes(1rem, $fuente-bold);
}
.type-bold--titulos{
	@extend .type-bold;
	padding: 50px;
	font-size: 4rem;
	margin: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	&:hover{
		color: coral;
	}
}
.type-light--subtitulo{
	@extend .type-light;
	ffont-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #000;
	font-size: 30px;
}
.adn{
	letter-spacing: 0.5px;
	font-size: 2rem;
	font-family: Actief Grotesque,   sans-serif;
	font-weight: 6rem;
	color: black;
	text-align: center;
}
article h1{
	font-size: 40px;
}
.formulario{
	display: flex;
	flex-direction: row;
	margin: auto;
}
.seo{
	@extend .type-light--subtitulo;
	font-size: 30px;
}
p{
	margin: 20px;
}
