@mixin fuentes($size, $weight){
	font-size: $size;
	font-weight: $weight;
	color: black;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 400;
}
.logo{
	font-size: 20px;
	color: coral;
	margin-top: 5px;

}
.logoM{
	font-size: 25px;
	color: black;
}
.type-light{
	@include fuentes(1rem, $fuente-light);
}
.type-regular{
	@include fuentes(1rem, $fuente-regular);
}
.type-bold{
	@include fuentes(1rem, $fuente-bold);
}
.type-bold--titulos{
	@extend .type-bold;
	font-size: 3rem;
	margin: auto;
	text-align: center;
	display: block;
	color: #fff;
	text-shadow: black 0 -2px;
	background-color: #12A4A6;
	font-family: 'Montserrat', sans-serif;
	&:hover{
		color: coral;
	}

}
.type-light--subtitulo{
	@extend .type-light;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #000;
	font-size: 30px;
}
.bgColor{
	background-color: #12A4A6 !important;
	color: black !important;

}
.miType{
	font-family: Actief Grotesque, sans-serif;
}
.subtitulo{
	padding: 30px;
	margin-top: 30px;
	text-align: center;
	text-shadow: black 0 -2px;
	color: #12A4A6;
}
#grilla{
	min-height: 20px;
}

.banner{
	width: 100vh;
}
.adn{
	letter-spacing: 0.5px;
	font-size: 2rem;
	font-family: Actief Grotesque, sans-serif;
	font-weight: 6rem;
	color: black;
	text-align: center;
}
article h1{
	font-size: 40px;
}
.formulario{
	display: flex;
	flex-direction: row;
	margin: auto;
}
.seo{
	@extend .type-light--subtitulo;
	font-size: 30px;
}
p{
	margin: 20px;
}
.footer{
	border-top: solid coral;
	height: 200px;
}
.footAlign{
	text-align: center;
}
.listas{
	list-style: outside none none;
	padding: 0;
	margin: 0;
	line-height: 2rem;
}
.redes{
	height: 25px;
}
.container{
	height: 75px;
}
.borde{
	border-bottom: solid coral;
}
h4{
	margin-top: 20px;
}